<div class="twelve columns">
  <h1 style="margin-top: 40px; text-align: center"><a class="homelink" href="/">uWaterloo Open Design Consortium</a></h1>
  <hr />
</div>
<div class="row">
  <div class="two columns">
>
  </div>
  <div class="eight columns">
    <h3>$title$</h3>
    <p>$date$</p>
      $body$
      <div id="disqus_thread">
        <script type="text/javascript">
          var disqus_shortname = 'uwaterloo-open-design';
          (function() {
           var dsq = document.createElement('script');
             dsq.type = 'text/javascript';
             dsq.async = true;
             dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
           })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments</a>.</noscript>
      </div>
  </div>
</div>
